<h2><%= current_user.first_name %> Dashboard</h2>     <br/>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" style="width:100%;">

      <table align="left" valign="top">
        <tr>
          <td width="35%" align="left" valign="top">

            <div class="tabbable tabs-left" style="width:100%;">
              <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">

                <li> <a href='#'>Sell Items</a></li>
                <li> <a href='#'>Sold History</a></li>
                <li> <a href='#'>Current Bids</a></li>
                <li> <a href='#'>Buy History</a></li>
                <li> <a href='#'>Track Orders</a></li>

              </ul>

            </div> <!-- /tabbable -->

          </td>

        </tr>

      </table>

    </div>

  </div>
</div>