
<table class="table table-bordered table-condensed" style="width:100%">

  <tr class="success">

    <% if @items.nil?
         @items = Item.last(3)
         puts "Popular Items"
       end

       @items.each do |item| %>
   <td><%= image_tag(item.image,:alt => "Item Image",:width => "180px",:height => "150px") %> </td>


        <td>
          <table class="table table-bordered table-condensed">
            <tr>
              <td><b>Item Name:  </b><%= link_to item.name, item_path(item) %></td>
            </tr>
            <tr>
              <td><b>Sale Type:  </b><%= item.sale_type %></td>
            </tr>
            <tr>
              <td><b>Price:  $</b><%= item.start_price %></td>
            </tr>
          </table>
        </tr>
    <%
       end
    %>
    </table>
